* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "segoe ui";
}

.nav {
  height: 80px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}
.nav-header {
  margin-left: 0.5rem !important;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
}

.nav > .nav-btn {
  display: none;
  top: 14px !important;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}
.navLi {
  color: #fff;
  list-style: none;
  font-size: 20px;
  font-family: sans-serif;
}
.navLi1 {
  color: #fff;
  list-style: none;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 0.6rem;
}

.nav-header {
  height: 100%;
  padding: 0px;
  width: 60%;
  margin-left: 1rem;
}
.nav-title {
  height: 100%;
  padding: 0px;
  width: 60%;
}
.navImg {
  height: 100%;
  width: 20%;
  position: absolute;
}
.nav-header {
  display: flex !important;
  width: 100%;
}
.Roles {
  width: 100%;
  margin-left: 7rem;
}
.nav ul {
  padding-left: 1rem;
}
.nav-btn {
  display: none !important;
}
.nav input {
  margin-left: 1.9rem !important;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .headRight {
    left: 0;
    margin-left: 5rem;
    width: 300px !important;
    margin-right: 0px !important;
  }
  .Search {
    width: 35px;
    height: 35px;
    left: 10rem !important;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #000;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 150px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 110px;
    width: 200px;
    overflow-y: auto;
  }
  .Search::after {
    left: -4px;
    width: 17px;
    height: 17px;
  }
  .Search::before {
    width: 5.5px;
    height: 2px;
    left: 13px;
  }
  .navSearch:focus {
    width: 190px;
    right: 75px;
  }
  .navSearch {
    padding-right: 0px;
    width: 120px !important;
    left: 8.5rem !important;
  }
  .childBtnUl{
    color: #fff;
    list-style: none;
    width: 75%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
  }
  .childBtnLi{
    margin-right: 15px;
  }
  .Roles{
    height: 100% ;
    width: 25%;
    margin-left: 0px;
  }
  .childBtnNav{
    width: 65%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  .nav input{
    margin-left: 0px !important;
  }
  .container{
    padding-left: 0px !important;
  }
}
